*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
  background-color: rgb(17, 175, 175);

}

.right ul{
    display: flex;
    gap: 34px;
    margin: 34px;
}
nav ul li{
    list-style: none;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;

}
.search{
    border: 1px solid rgb(67, 64, 64);
    gap: 34px;
    display: flex;
    justify-content: center;
    padding: 5px;
 border-radius: 20px;
 width: 130px;
 border-style: dashed;

}