*{
    margin: 0;
    padding: 0;
}
                             /* navigation bar */

header nav{
    display: flex;
    justify-content: space-around;
  background-color: white;
  position: sticky;
  top: 0px;

}

.right ul{
    display: flex;
    gap: 34px;
    margin: 34px;
}
nav ul li{
    list-style: none;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;

}
.search{
    border: 1px solid rgb(152, 149, 149);
    gap: 34px;
    display: flex;
    justify-content: center;
    padding: 5px;
 border-radius: 20px;
 width: 130px;
 border-style: dashed;

}
                                           /* upper part */
                                           
.main{
    background-image:url("baby clothes.jpg") ;
    height: 544px;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 900px;
    position: relative;
    width: 100%;
     
}
.main .title{
    display: flex;
    justify-content: center;
    align-items: center;

}
.title {
    font-family: 'Martel Sans', sans-serif;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(70, 19, 239);
    position: relative;
   
   
    
}
.title span{
 color: rgb(230, 139, 10);
 font-weight: bolder;


}
.title> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 74px;
    text-align: center;
    margin: 60px 200px 0px 600px;
  
}

.title> :nth-child(2) {
    font-weight: 400;
    font-size: 44px;
    text-align: center;
    margin: 0px 200px 0px 800px;
}

.discount{
    color: white;
    background-color: red;
    justify-content: flex-end;
  
    font-size: 66px;
    border-radius: 0px 40px 10px 0px;
    padding: 20px;
    font-weight: bolder;
    } 

    .dis{
        margin: 300px 0px;
    }
                                     /* searc hbar */ 

.searchbox{
    display:flex;
justify-content: center;
}

.searchage{
    margin: 30px  30px  30px  30px;
    font-size: 24px;
    justify-content:center;
    align-items: center;
    height: 60px;
    width: 170vh;
    padding: 20px;
    border-radius: 40px;
    background-color: #b2adad;
}
                                 /* item part */


.item{
    display: flex;
    font-size: 34px;
  margin: 20px;
   justify-content:first baseline ;
   font-weight: bold;
}

/* .item button{
    margin: 10px 1000px 10px 10px ;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
} */
.container{
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    gap: 24px;
    justify-content: center;
    margin: 40px;
}



